body{
  height: 100%;
  width: 100%;
  margin: 0;
  background: rgba(0,0,255,0.4);
  background-position: center;
}

#score-div{
  position: absolute;
  margin-top: 20%;
  margin-left: 10%;
  font-size: 25px;
  background: white;
  color: #454545;
  padding: 15px;
  -webkit-box-shadow: 4px 4px 4px 1px #808080;
  box-shadow: 4px 4px 4px 1px #808080;
}

#score-div p{
  height: 20px;
}


/* Road */
#container{
  width: 40%;
  height: 100vh;
  left: 35%;
  background: #333;
  overflow: hidden;
  position: relative;
}

.line{
  width: 4%;
  height: 30vh;
  background: rgba(255,255,255,.8);
  position: absolute;
  margin-left: 48%;
}

/* Lines on road */
#line-1{
  top: -150px;
}

#line-2{
  top: 150px;
}

#line-3{
  top: 450px;
}

/* Car */

.car{
  position: absolute;
  widows: 40px;
  height: 60px;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px blink;
  box-shadow: 3px 3px 3px blink;
}

#car{
  bottom: 10px;
  left: 60%;
  background: red;
}

.f-glass,
.b-glass{
  width: 60%;
  height: 20%;
  background: #484848;
  position: absolute;
  margin-left: 20%;
}

.f-glass{
  top: 15px;
  border-radius: 5px 5px 0 0;
}

.b-glass{
  bottom: 15%;
  border-radius: 0 0 5px 5px;
}

.f-light-l,
.f-light-r{
  position: absolute;
  width: 20%;
  height: 10%;
  background: #efefef;
  top: -6%;
  margin-left: 10%;
  border-radius: 5px 5px 0 0;
}

.f-light-r{
  margin-left: 70%;
}

.f-tyre-l,
.f-tyre-r,
.b-tyre-l,
.b-tyre-r{
  position: absolute;
  height: 20%;
  widows: 10%;
  background: grey;
}

.f-tyre-l{
  top: 20%;
  left: -10%;
  border-radius: 5px 5px 0 0;
}

.f-tyre-r{
  top: 20%;
  left: 100%;
  border-radius: 0 5px 5px 0;
}

.b-tyre-r{
  bottom: 20%;
  left: 100%;
  border-radius: 0 5px 5px 0;
}

.b-tyre-l{
  bottom: 20%;
  left: -10%;
  border-radius: 5px 5px 0 0;
}

#car-1{
  top: -100%;
  left: 60%;
  background: green;
}

#car-2{
  top: -200%;
  left: 40%;
  background: blue;
}

#car-3{
  top: -350%;
  left: 45%;
  background: yellow;
}

#restart-div{
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #292929;
  line-height: 100vh;
  display: none;
}

#restart{
  display: block;
  width: 50%;
  height: 80px;
  background: #8a64ff;
  color: #fff;
  font-size: 25px;
  border: none;
  outline: none;
  margin-left: 20%;
  margin-top: 50%;
}
